* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
img {
    max-width: 100%;
}
.content {
    height: calc(100vh - 70px);
    width: 100%;
    background-color: black;
    overflow: auto;
}
.container {
    width: 90%;
    margin: auto;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cell {
    width: 150px;
    height: 100px;
    background-image: url(https://picsum.photos/200);
    margin:10px 5px;
    position: relative;
}
.speaker-view {
    text-align: right;
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 10px 25px;
    display: inline-block;
    height:40px;
    width:100%;
}
.speaker-view span {
    background-color: #4b4b4b;
    border-radius: 10px;
    padding: 3px 3px 3px 6px;
    font-weight: thin;
    height: 30px;
    vertical-align: middle;
}
.speaker-view > i {
    width: 30px;
    height: 30px;
    background-color: #4b4b4b;
    text-align: center;
    vertical-align: middle;
    font-weight: thin;
    border-radius: 10px;
    padding: 3px 3px 3px 3px;
}
.user {
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 3px;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5)
}
.toolbar {
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 5px;
    width: 100%;
    background-color: #232323;
}
.toolbar, .first-part, .central-part, .right-part {
    display:flex;
    justify-content: center;
}
.menu {
    margin: 0 10px;
    
}
.central-part {
    flex-grow: 1;
}
.menu i {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.menu h3 {
   font-size: 1.2rem;
}
.right-part {
    color: red;
    background-color: #a3a1a1;
    font-size: 1rem;
    padding: 10px;
    align-items: center;

}